{% extends 'home.html' %}
{% block body %}
<h1 style="text-align:center;font-family:Arial; color:blue;">REGISTER</h1>

    <form id="regform" action="register" method="POST">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username"><br/><br/>
        <label>Password:</label>
        <input type="password" name="password"><br/><br/>
        <label>Confirm Password:</label>
        <input type="password" name="password1"><br/><br/>

        <input type="submit" value="REGISTER"><br><br>

    </form>
{% for msg in messages %}
{{msg}}
{% endfor %}
{% endblock %}